<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PCEEntities"
             connectionString="metadata=res://*/PCEModel.csdl|res://*/PCEModel.ssdl|res://*/PCEModel.msl;
                               provider=System.Data.SqlClient;
                               provider connection string='data source=localhost,1433;initial catalog=PCE;
                               persist security info=True;user id=sa;password=StrongPassw0rd!;
                               trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'"
             providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>